body {
    background-color: beige;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 60px 0px;

}

.container {
    width: 760px;
    margin: 0 auto;
    background-color: white;
    padding: 60px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    
}

.container img {
    width: 100%;
    border-radius: 10px;
}


.time_section {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px 30px;
    border-radius: 10px;

}

.attribution { 
    font-size: 11px; 
    text-align: center;
    
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}